.navbar {
  background-color: #695842; /* Change the background color to brown */
}

.nav-item {
  margin: 0 1rem; /* Adjust the spacing between navbar items */
}

.container {
  width: 100%;
  max-width: 1140px; /* Change the maximum width as per your design */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px; /* Add padding to the left side */
  padding-right: 15px; /* Add padding to the right side */
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}


.App {
  text-align: center;
  background: #B3A580;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #685642;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
